<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar libro</title>
</head>
<body>
    <h2>Buscar por titulo</h2>

<form action="busquedalibro.html" method="GET">
    <input type="text" name="libro" id="nombre">

    <input type="submit" value="Buscar libro">


    {% if {{nombre}} %}
    <ul>
        
       
            
        
            
        {% for libro in catalgo  %}

                <li>{{libro.nombre}}</li>
                <li>{{libro.autor}}</li>      

        {% endfor %}

       
            
    </ul>

    {% endif %}
</form>

</body>
</html>