<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libros</title>
</head>
<body>
<h2 style="color: blue;">Cargar nuevos libros al catalogo:</h2>
     <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
     {% if miFormulario.errors %}

     <p style="color: red;"> Están mal los datos, revisar</p>
 
     {% endif %}
     <form action="" method="POST">{% csrf_token %}
 
         <!-- Acá está la magia de Django-->
         
         <table>
             {{ miFormulario.as_table }}
         </table>
 
         <input type="submit", value="Cargar libro">
 
     </form>
 
     <h2>Catalogo de libros</h2>

            
            {% for libro in catalogo %}
                
                {{catalogo.nombre}}
                {{catalogo.autor}}
                
            {% endfor %}
                
 
</body>
</html>


   