{% extends "padre.html" %}

{% load static %}

{% block ContenidoQueCambia %}
    

    <title>Nosotros</title>
    <h2 style="color:orangered">Sobre Nosotros</h2>
    <h4><br>Hola somos una biblioteca en línea, que cree que la educación es un derecho humano, 
        por lo que construimos una nueva posibilidad de acceder a distintos libros al alcance de todos.
        <br>Nos especializazmos en asesorarte según tus gustos cuáles serían los libros que más podrían agradarte.
        Tambíen tenemos varios cursos para ofrecerte, contamos con profesores especializados para cada uno de 
        ellos.
        Biblioteca PPP, nació de la pasión de Pato, Pablo y Pao por la lectura de los grande autores.
    </h4>


{% endblock %}